.app_container {
    background-color: #0F0E0E;
    color: white;
}

button {
    margin: 1rem 1rem;
    padding: 0.75em 1em;
    background-color: #E4F065;
    border: none;
}

button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media screen and (min-width: 321px) {
    button {
        margin: 2rem 1rem;
    }
}